/* FONTS */
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: RobotoSlab-Light;
  src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: RobotoSlab-Thin;
  src: url(../fonts/RobotoSlab-Thin.ttf);
}
body {
  background: #d8d8d8;
}
#main {
  background: url(../img/1page-bg.png) no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
#main .main-content {
  position: absolute;
  top: 20em;
  text-align: center;
  left: 0;
  right: 0;
}
#main .logo img {
  width: 60%;
}
#main .intro-text {
  padding-top: 20px;
  font-size: 1.4em;
  text-align: center;
  left: 0;
  right: 0;
}
#main button {
  margin-top: 30px;
  background: #f43838;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #961818;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  font-size: 1.5em;
  font-family: RobotoSlab-Regular;
}
