/* FONTS */
@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica.otf);
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face {
  font-family: RobotoSlab-Light;
  src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face {
  font-family: RobotoSlab-Thin;
  src: url(../fonts/RobotoSlab-Thin.ttf);
}
@font-face {
  font-family: FlatironCasual;
  src: url(../fonts/FlatironCasual.ttf);
}
body {
  background: #ffffff;
}
.container {
  width: 970px !important;
}
/* main section */
#main {
  background: url(../img/1page-bg.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  color: #ffffff;
}
#main .main-content {
  position: absolute;
  top: 20em;
  text-align: center;
  left: 0;
  right: 0;
}
#main .logo img {
  width: 60%;
}
#main .intro-text {
  padding-top: 20px;
  font-size: 1.4em;
  text-align: center;
  left: 0;
  right: 0;
}
#main button {
  margin-top: 30px;
  background: #f43838;
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #961818;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  font-size: 1.5em;
  font-family: RobotoSlab-Regular;
}
/* activity section*/
#activity {
  color: #000000;
  height: 100%;
  /* bases */
}
#activity h3 {
  text-align: center;
  font-size: 18pt;
  font-family: RobotoSlab-Regular;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  padding: 0 15px;
}
#activity h3:before,
#activity h3:after {
  background: #000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 80px;
}
#activity h3:before {
  right: 100%;
}
#activity h3:after {
  left: 100%;
}
#activity .icons-description {
  font-size: 11pt;
  text-align: center;
  font-family: RobotoSlab-Bold;
}
#activity .icons {
  width: 50px;
  height: 50px;
  text-align: center;
  margin-bottom: 25px;
}
.block-title {
  overflow: hidden;
  text-align: center;
}
.activity-container {
  text-align: center;
  margin: auto;
}
.activity-block {
  padding-right: 50px;
  display: inline-block;
  text-align: center;
}
.bases {
  margin-top: 50px;
}
.bases-description {
  color: #fff;
  background-color: #282828;
  display: flex;
  padding: 20px;
  width: 85%;
  margin: auto;
}
.base-item {
  margin-right: 25px;
  width: 250px;
  height: 170px;
  position: relative;
}
.livenloud {
  background: url("../img/1-place.png");
  width: 250px;
  height: 170px;
  max-width: 100%;
}
.livemusic {
  background: url("../img/2-place.png");
  width: 250px;
  height: 170px;
  max-width: 100%;
}
.base-item-desc {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  margin-bottom: 5px;
}
.base-item-desc h5 {
  margin-bottom: 0;
}
.base-item-desc a {
  color: #fff;
}
.base-item-about {
  width: 350px;
}
/* events */
.performances {
  margin-top: 50px;
}
.events {
  color: #fff;
  background-color: #282828;
  display: flex;
  padding: 20px;
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
}
.event {
  width: 220px;
  height: 350px;
  margin-right: 25px;
  overflow: hidden;
  position: relative;
}
.event h5 {
  margin-bottom: 0;
}
.event-active {
  background: #fff;
  color: #000;
}
.event-date {
  font-size: 10px;
}
.event-desc {
  margin-top: 10px;
  height: 90px;
  overflow: hidden;
}
.more {
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}
/* join us */
.join-us-container {
  width: 85%;
  margin-top: 60px;
}
/* footer */
#footer {
  height: 200px;
  background: #282828;
  color: #fff;
  width: 100%;
  margin-top: 80px;
}
